.photo-gallery {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px;
}

@media (max-width: 980px) {
  .photo-gallery {
    padding: 0 24px;
  }
}

@media (max-width: 400px) {
  .photo-gallery {
    padding: 0 18px;
  }
}

@media (max-width: 321px) {
  .photo-gallery {
    padding: 0 16px;
  }
}

@media (max-width: 319px) {
  .photo-gallery {
    padding: 0 10px;
  }
}
