.photo-grid__container {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px;
}

@media (max-width: 980px) {
.photo-grid__container {
  padding: 0 24px;
  }
}

@media (max-width: 400px) {
.photo-grid__container {
  padding: 0 16px;
  }
}
