.lead__subtitle {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin-bottom: 64px;
}

@media (max-width: 1080px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 710px) {
  .lead__subtitle {
    font-size: 4vw;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 70vw;
  }
}

@media (max-width: 400px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
  }
}
