.cover {
  padding-bottom: 91px;
  font-size: 0;
  display: flex;
  max-width: 1280px;
  justify-content: center;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  min-height: 740px;
}

@media (max-width: 1200px) {
  .cover {
    min-height: 62.5vw;
  }
}

@media (max-width: 880px) {
  .cover {
    padding-bottom: 87px;
  }
}

@media (max-width: 580px) {
  .cover {
    padding-bottom: 62px;
  }
}
