.footer__item {
  list-style-type: none;
  padding-right: 19px;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 635px) {
  .footer__item {
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: 689px) {
  .footer__item {
    padding-right: 8px;
  }
}

.footer__item:last-of-type {
  padding-right: 0;
  padding-bottom: 0;
}
