@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/);

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "inter";
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background: #2a2c2f;
}

.block__padding {
  max-width: 1280px;
  padding: 0 148px 0 148px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  box-sizing: border-box;
}

.header__logo {
  margin-top: 28px;
  margin-left: 48px;
  /* margin-top: 2,19%;
  margin-left: 3,75%; */
}

.header__lang-switcher {
  margin-top: 48px;
  margin-right: 48px;
  display: flex;
}

.header__lang-link {
  margin: 0;
  padding: 0;
  max-width: 29px;
  max-height: 28;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:nth-child(2n) {
  margin-left: 18px;
}

.header__lang-link_active {
  /* border-bottom: 2px #ffffff solid; */
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.lead__title {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin-bottom: 32px;
}

.lead__subtitle {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  /* max-height: 72px; */
  margin-bottom: 64px;
}

.lead__image-container {
  margin: 0;
  padding: 0 148px;
}

.lead__image {
  /* max-width: 984px; */
  width: 100%;
  max-width: 984px;
}

.lead__caption {
  margin: 0;
  padding: 0 0 92px;
  margin-top: 8px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro_position {
  margin: 0 auto;
  margin-bottom: 92px;
}

.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-bottom: 40px;
  vertical-align: bottom;
  max-width: 690px;
}

.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  max-width: 690px;
}

.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
}

.intro__list_digit {
  font-weight: normal;
}

.photo-grid-container {
  margin: 0;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px 0 48px;
}

.photo-grid {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-bottom: 92px;
  font-size: 0;
}

.photo-grid li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-grid__item {
  /* max-height: 213px; */
  max-width: 284px;
}

.places {
  max-width: 1280px;
  padding: 0 148px 92px 148px;
  box-sizing: border-box;
  font-size: 0;
}

.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 80px;
}

.places__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 77px;
  max-width: 460px;
  width: 100%;
  padding-bottom: 48px;
  padding-right: 40px;
}

.places__website {
  align-self: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 48px;
  position: relative;
}

.places__website::before {
  content: "URL";
  padding-bottom: 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  position: absolute;
  top: -24px;
}

.places__text {
}

.places__image {
  max-width: 460px;
  padding-right: 40px;
  display: block;
}

.place:last-of-type {
  padding-bottom: 0;
}

.places__paragraph {
  margin: 0;
  padding: 0;
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 161%;
}

.places__paragraph:nth-child(2n) {
  padding-top: 26px;
}

.cover {
  /* padding: 0 48px 92px; */
  padding-bottom: 92px;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  max-width: 1280px;
  justify-content: center;
}

.cover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20.69%;
  z-index: 1;
}

.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 32px;
}

.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 360px;
  margin: 0;
}

.cover__background {
  background: url(/images/cover-trains.jpg) no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 62.5%;
  max-height: 740px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
  box-sizing: border-box;
}

.cover__background:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s linear;
}

.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
  transition: linear 0.3s;
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px 24px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__item {
  list-style-type: none;
  padding-right: 24px;
  font-size: 16px;
  line-height: 18px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  cursor: pointer;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
