@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/);

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: "inter";
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background: #2a2c2f;
}

.block__padding {
  max-width: 1280px;
  padding: 0 148px 0 148px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 48px 56px;
  box-sizing: border-box;

}

@media (max-width: 1080px) {
  .header {
    padding-bottom: 48px;
  }
}

@media (max-width: 980px) {
  .header {
    padding: 0 24px 48px;
  }
}

.header__logo {
  padding-top: 28px;
}

.header__lang-switcher {
  padding-top: 48px;
  display: flex;
}

.header__lang-link {
  margin: 0;
  padding: 0;
  max-width: 29px;
  max-height: 28;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.header__lang-link:nth-child(2n) {
  margin-left: 18px;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

.lead__title {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin-bottom: 32px;
}

.lead__subtitle {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin-bottom: 64px;
}

@media (max-width: 1080px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

.lead__image-container {
  margin: 0;
  padding: 0 148px;
}

.lead__image {
  width: 100%;
  max-width: 984px;
}

@media (max-width: 1080px) {
  .lead__image {
    max-width: 928px;
  }
}

.lead__caption {
  margin: 0;
  padding: 0 0 92px;
  margin-top: 8px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 980px) {
  .lead__caption {
    padding-left: 24px;
    padding-bottom: 89px;
  }
}

.intro {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1080px) {
  .intro {
    max-width: 928px;
  }
}

.intro_position {
  margin: 0 auto;
  margin-bottom: 92px;
}

@media (max-width: 980px) {
  .intro_position {
    padding-left: 24px;
  }
}

.intro__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding-bottom: 40px;
  vertical-align: bottom;
  max-width: 690px;
}

.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  max-width: 690px;
}

@media (max-width: 880px) {
  .intro__text {
    max-width: 720px;
  }
  }



.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
}

.intro__list_digit {
  font-weight: normal;
}

.photo-grid-container {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px;
}

@media (max-width: 980px) {
.photo-grid-container {
  padding: 0 24px;
}
}

.photo-grid {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-bottom: 92px;
  font-size: 0;
}

@media (max-width: 1080px) {
  .photo-grid {
    padding-bottom: 92px;
    gap: 14px;
  }
}

@media (max-width: 980px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    padding-bottom: 92px;
  }
}

.photo-grid li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}

.places {
  max-width: 984px;
  font-size: 0;
}

@media (max-width: 1080px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 980px) {
  .places {
    padding: 0 24px;
  }
}

.places_position_xl {
  margin: 0 auto;
  margin-bottom: 92px;
}

@media (max-width: 1080px) {
  .places_position_xl {
    margin-bottom: 84px;
  }
}

@media (max-width: 1025px) {
  .places_position_xl {
    margin-bottom: 90px;
  }
}

.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 79px;
  max-height: max-content;
}

@media (max-width: 980px) {
  .place {
    padding-bottom: 66px;
  }
}

.places__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 77px;
  max-width: 460px;
  width: 100%;
  padding-bottom: 48px;
  padding-right: 40px;
}

@media (max-width: 1080px) {
  .places__title {
    padding-right: 40px;
    max-width: 46.74%;
  }
}

@media (max-width: 980px) {
  .places__title {
    max-width: 47.22%;
    padding-right: 28px;
    font-size: 6vw;
    line-height: 46px;
  }
}

@media (max-width: 768px) {
  .places__title {
    max-width: 330px;
    padding-right: 38px;
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 46px;
  }
}

.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places__link {
  align-self: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 48px;
  transition: linear 0.2s;
}

.places__link:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: linear 0.3s;
}

.places__url-title {
  margin: 0;
  margin-bottom: 12px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.places__text {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  padding-left: 40px;
  flex-wrap: nowrap;
}

@media (max-width: 1080px) {
  .places__text {
    max-width: 456px;
    padding-left: 32px;
  }
}

@media (max-width: 980px) {
  .places__text {
    max-width: 352px;
    padding-left: 28px;
  }
}

.places__image {
  max-width: 460px;
  display: block;
  object-fit: contain;
  object-position: top;
}

@media (max-width: 1080px) {
  .places__image {
    max-width: 47.4%;
  }
}

@media (max-width: 980px) {
  .places__image {
    max-width: 47.22%;
  }
}

.place:last-of-type {
  padding-bottom: 0;
}

.places__paragraph {
  margin: 0;
  padding: 0;
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 161%;
}

@media (max-width: 980px) {
  .places__paragraph {
    font-size: 16px;
  }
}

.places__paragraph:nth-child(2n) {
  padding-top: 26px;
}

.cover {
  padding-bottom: 80px;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  max-width: 1280px;
  justify-content: center;
}

@media (max-width: 1080px) {
  .cover {
    padding-bottom: 84px;
  }
}

@media (max-width: 880px) {
  .cover {
    padding-bottom: 87px;
  }
}

.cover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20.39%;
  z-index: 1;
}

@media (max-width: 1080px) {
  .cover__text {
    padding-top: 19%;
  }
}

@media (max-width: 820px) {
  .cover__text {
    padding-top: 15%;
  }
}

.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 32px;
}

.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 360px;
  margin: 0;
}

.cover__background {
  background: url(/images/cover-trains.jpg) no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 20%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover__background {
    padding-bottom: 15%;
  }
}

@media (max-width: 880px) {
  .cover__background {
    max-width: 768px;
  }
}

.cover__background:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s linear;
}

.cover__background:hover:before {
  opacity: 0.8;
  cursor: pointer;
  transition: linear 0.3s;
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px 24px;
  box-sizing: border-box;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0;
}

@media (max-width: 880px) {
  .footer {
    padding: 0 24px 24px;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer__item {
  list-style-type: none;
  padding-right: 19px;
  font-size: 16px;
  line-height: 18px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__copyright {
  margin: 0;
  padding-top: 2px;
  font-size: 14px;
  line-height: 16px;
}
